a:link {
  color: #004953;
}

a:visited {
  color: #722f37;
}

a:active,a:hover {
  color: #e0115f;
}

body {
  background-color: #fff5ee;
  color: #343434;
  margin: 0;
  padding: 0;
  text-align: center;
}

div#content {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

div#content-container {
  margin: 0;
  padding: 0;
  text-align: center;
}

span.java-lang {
  color: #ab7038;
}

span.ruby-lang {
  color: #e0115f;
}

table {
  border-collapse: collapse;
}

td,th {
  border: 5px solid #753119;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

td a,td span,th span {
  display: inline-block;
  height: 100%;
  padding: 5px 5px 5px 11px;
  width: 100%;
}

td.docs,th.docs {
  width: 11em;
}

td.docs a {
  display: inline;
}

td.lang,th.lang {
  font-weight: bold;
  width: 5em;
}

td.repo,th.repo {
  width: 11em;
}

td.show,th.show {
  width: 21em;
}

td.vers,th.vers {
  font-weight: bold;
  width: 5em;
}

tr:nth-child(odd) {
  background-color: #ffc99f;
}

@media screen and (max-width: 800px) {
  div#content {
    width: 95%;
  }
  
  div#content-container {
    width: 100%;
  }
}
